/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.radio-button {
  margin: 5px 0;
  text-transform: capitalize;
}

.success {
  color: green;
  font-size: 16px;
  margin: 15px 0;
}

.mat-error {
  display: block;
  margin: 15px 0 25px 0;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}

.spinner > .mat-button-wrapper {
  opacity: 0;
}